*{
	margin: 0;
	padding: 0;
}
body{
	overflow-X: hidden;
}
a{
	color: blue;
}
a:hover{
	text-decoration: none;
	color: gold;
}
span{
	font-size: 22px;
}
.header{
	text-align: center;
	padding: 30px;
	margin-top: 30px;
}
#gray{
     width: 300px;
     height: 100%;
     background-color: #fff;
     overflow: hidden !important;
}

#red{
     width: 150%;
     height: 150%;
     background-color: #6ab5f96b;
     border-radius: 100%;
     top: -80%;
     left: -25%;
     right: 0;
     overflow: hidden !important;
     position: absolute;
}
.firstImage img{
	width: 100%;
	margin: 30px 0px;
	box-shadow: 0px 0px 7px 1px;
}
.secondImage img{
	width: 100%;
	margin: 30px 0px;
	box-shadow: 0px 0px 7px 1px;
}
.textField{
	margin-top: 30px;
	color: gold;
}
.textField h3{
	overflow: hidden;
}
.logoOne img{
	width: 106px;
	height: 128px;
	margin-top: 72px;
}
.logoTwo img{
	width: 120px;
	height: 100px;
	margin-top: 100px;
}
.logoOneText, .logoTwoText{
	margin-top: 20px;
	margin-bottom: 50px;
}
#white{
     background-color: #fff;
     overflow: hidden !important;
}
#skyblue{
     width: 106%;
     height: 100%;
     background-color: #6ab5f96b;
     border-radius: 100%;
     left: -3%;
     right: 0;
     overflow: hidden !important;
     position: relative;
     z-index: 0;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
     margin-top: 50px;
}
