*{
	margin: 0;
	padding: 0;
}
a{
	color: #ddd;
}
h1{
    font-size: 80px;
}
img{
	width: 100%;
}
body{
	font-family: Exotc350 DmBd BT;
	background: #161616;
	color: #e0e0e0;
	overflow-x: hidden;
}
a:active{
	color: #yellow;
}
a:hover{
    color: #ffba6c;
    text-decoration: none !important;
    outline: none !important;
}
a:link{
	color: #fff;
}
ai:visited{
	color: #fff;
}


/*#body end----------------------------------------*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
	z-index: 999;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #ffba6c;
}

.nav div.main_list {
    height: 65px;
    float: right;
	width: 540px;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 23px;
}

.nav div.main_list ul li a:hover {
    color: #ffba6c;
}


/* Home section */
.home {
    width: 100%;
    height: 100vh;
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}
.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

/*  section one animation text's content----------------------------------------*/

.sectionOne{
	width: 100%;
	height: 770px;
	position: relative;
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(#00000065, #00000065), linear-gradient(#00000065, #00000065);
	vertical-align: -webkit-baseline-middle;
}
.myText {
  position: absolute;
  top: 350px;
  width: 460px;
  font-size: 25px;
}
.myText p{
	font-size: 20px;
	color: #ddd;
}

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 60px;
  color: #fff;
  top: -12px;
  left: 0px;
  font-weight: bold;
  width: 520px;
  overflow: visible;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0.5 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.ml5 .ampersand {
  font-weight: 400;
  width: 94px;
  margin-right: -0.1em;
  margin-left: -0.1em;
  overflow: visible;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
  overflow: visible;
}
.myButton{
	width: 140px;
    font-family: Bauhaus Lt BT;
    text-align: center;
    border: 1px solid #03b344;
    border-radius: 50px;
    padding: 0px;
    font-weight: bold;
    background: #f3f3f300;
    box-shadow: 0px 0px 6px -2px #000;
    -webkit-border-radius: 50px;
    color: #00ce49e0;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}
.myButton:hover{
	color: #fffaaa;
	border-color: #fffaaa;
}
.myButton:active{
	border-color: #000;
	box-shadow: none;
}
.myClass{
	background: #161616;
	top: -38;
}

/*  section two about's content----------------------------------------*/

.sectionTwo{
	padding-Top: 100px;
	background: #161616;
}
.sectionTwoTitle h4{
    margin-left: 110px;
    margin-bottom: -15px;
}
.sectionTwoTitle h1{
	text-align: left;
    font-size: 80px;
    margin-bottom: 30px;
	margin-left: 30px;
	color: #fff;
}	
.sectionTwoTitle {
    width: 100%;
}
.aboutImg img{
	width: 90%;
	height: 355px;
	margin-top: 10px;
	box-shadow: 0px 0px 5px 1px #000;
}
.aboutText p{
	font-size: 20px;
}

/*  section two service's content----------------------------------------*/
.sectionThreeTitle{
	width: 100%;
	text-align: right;
	margin-top: 100px;    
}
.sectionThreeTitle h4 {
    margin-right: 80px;
}
.sectionThreeTitle h1{
	color: #fff;
	transition: all 1s;
}
.serviceContent{
	text-align: center;
	box-shadow: 0px 0px 5px 1px #000;
	height: 424px;
}
.serviceContent h1 {
    color: #ffba6c;
    border-radius: 50%;
    background: #3e3e3e;
    width: 101px;
	height: 95px;
    margin-left: 117px;
    font-size: 75px;
    padding: 4px;
    text-shadow: 4px 2px 7px #000;
    box-shadow: 0px 0px 0px 5px #ffba6c;
    margin-bottom: 57px;
    margin-top: 30px;
    position: relative;
    top: 28px;
}
.serviceContent p {
    text-align: center;
    padding: 0px 17px;
}
.serviceContent span {
    float: left;
    margin-left: 137px;
}
hr {
    border-top: 1px solid rgba(0,0,0,.1);
    position: absolute;
    left: 80px;
}

/*  section four portfolio's content----------------------------------------*/

.sectionFour{
	margin-Top: 120px;
	background: #161616;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	overflow: hidden;
}
.sectionFourTitle{
	width: 100%;
}
.sectionFourTitle h4{
    margin-left: 80px;
    margin-bottom: -15px;}
.sectionFourTitle h1{
    margin-left: 30px;
	color: #fff;
	margin-bottom: 25px;
}
.allPortfolioImage {
    overflow: hidden;
    display: block;
    border-radius: 15px;
    margin-bottom: 42px;
}
.allPortfolioImage img {
    width: 547px;
    height: 330px;
    display: block;
    border-radius: 15px;
    transition: .5s;
    -webkit-transition: .5s;
}
.firstSectionOverlay {
    position: absolute;
    bottom: 42px;
    left: 14px;
    right: 0;
    background: linear-gradient(0deg, #000000e8, transparent);
    opacity: 1;
    overflow: hidden;
    width: 95%;
    height: 20%;    
    border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
    z-index: 1; 
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom; 
}
.secondSectionOverlay {
    position: absolute;
    bottom: 100px;
    left: 15px;
    right: 0;
    background: linear-gradient( 0deg, #000000e8, transparent);
    opacity: 1;
    overflow: hidden;
    width: 95%;
    height: 20%;
    z-index: 1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    transform-origin: bottom;
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom; 
}
.firstSection:hover .firstSectionOverlay{
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
    transition: 1s cubic-bezier(0, 1.29, 0.58, 1);
}
.secondSection:hover .secondSectionOverlay{
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
    transition: 1s cubic-bezier(0, 1.29, 0.58, 1);
}
.overlyimagetext a {
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 60%;
    left: 50%;
    border: none;
    outline: none; 
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
    width: 225px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}
.overlyimagetext a:hover{
	color: #ffba6c;
    outline: none; 
    border-bottom: none;
}
.allPortfolioImage img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

/*  section five contact's content----------------------------------------*/

.sectionFive {
    padding-top: 40px;
    height: 600px;
}
.sectionFiveTitle {
    width: 100%;
    text-align: right;
}
.sectionFiveTitle h4 {
    margin-right: 250px;
    margin-bottom: -55px;
    margin-top: 40px;
    color: #000;
}
.sectionFiveTitle h1 {
    margin-right: 120px;
    margin-top: 30px;
    color: #000;
}
.contactBackground {
    width: 100%;
    height: 550px;
    position: relative;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    margin-top: 62px;
}
.contactNumber, .emailaddress {
    text-align: center;
    font-size: 22px;
    color: #fff;
    margin-top: 50px;
}
.contactNumber p, .emailaddress p{
	margin-bottom: -5px !important;
	font-size: 20px;
    color: #000;
}

/*  form's content----------------------------------------*/
.messageSection {
    width: 100%;
    height: 350px;
}
display-flex, .display-flex, .display-flex-center {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */

list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0; }
.main {
    position: relative;
    top: -111px;
}
input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.signup-content {
  background: #161616;
  padding: 10px 40px;
  box-shadow: 0px 0px 8px 0px #000;
  }

.form-group {
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  }
  
/* input main section */
.form-input {
  width: 100%;
  border: none;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid #999999;
  background: #161616;
  padding: 5px;
  font-size: 17px;
  }
  .form-input::-webkit-input-placeholder {
    color: #999; }
  .form-input::-moz-placeholder {
    color: #999; }
  .form-input:-ms-input-placeholder {
    color: #999; }
  .form-input:-moz-placeholder {
    color: #999; }
  .form-input::-webkit-input-placeholder {
    font-size: 20px; }
  .form-input::-moz-placeholder {
    font-size: 20px; }
  .form-input:-ms-input-placeholder {
    font-size: 20px; }
  .form-input:-moz-placeholder {
    font-size: 20px; }
  .form-input:focus {
    border-bottom: 1px solid transparent;
    -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
    -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
    -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
    border-image-source: linear-gradient(to right, #9face6, #74ebd5);
    -webkit-border-image-slice: 1;
    border-image-slice: 1;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    background-origin: border-box;
    background-clip: content-box, border-box;
}
    .form-input:focus::-webkit-input-placeholder {
      font-size: 15px; }
    .form-input:focus::-moz-placeholder {
      font-size: 15px; }
    .form-input:focus:-ms-input-placeholder {
      font-size: 15px; }
    .form-input:focus:-moz-placeholder {
      font-size: 15px; }
     .form-input:focus::-webkit-input-placeholder {
      color: #484848; padding-bottom: 10px}
    .form-input:focus::-moz-placeholder {
      color: #484848;}
    .form-input:focus:-ms-input-placeholder {
      color: #484848;}
    .form-input:focus:-moz-placeholder {
      color: #484848;}
.form-submit {
  width: 110px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  border: none;
  background-image: -moz-linear-gradient(to left, #9face6, #74ebd5);
  background-image: -ms-linear-gradient(to left, #9face6, #74ebd5);
  background-image: -o-linear-gradient(to left, #9face6, #74ebd5);
  background-image: linear-gradient(to left, #9face6, #74ebd5);
  border: 1px solid #000;
  transition: all .5s;
  -webkit-transition: all .5s;
 -moz-transition: all .5s;
  }
.form-submit:hover{
  color: #fff;
  background: #161616;
  border: 1px solid #fff;
}
input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none; }

input[type=checkbox]:not(old) + label {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 25px; }

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: black;
  background-image: -moz-linear-gradient(black, black);
  background-image: -ms-linear-gradient(black, black);
  background-image: -o-linear-gradient(black, black);
  background-image: -webkit-linear-gradient(black, black);
  background-image: linear-gradient(black, black);
  vertical-align: bottom; }

input[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(black, black);
  background-image: -ms-linear-gradient(black, black);
  background-image: -o-linear-gradient(black, black);
  background-image: -webkit-linear-gradient(black, black);
  background-image: linear-gradient(black, black); }

input[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #fff;
  background: #161616;
  font-size: 17px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold; }

.label-agree-term {
  font-size: 17px;
  font-weight: 600;
  color: #555; 
  background: #161616;
  }

.field-icon {
  float: right;
  margin-right: 17px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  color: #555; }

@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%; } }
@media screen and (max-width: 480px) {
  .signup-content {
    padding: 50px 25px; } }
textarea {
    border-bottom: 1px solid #999 !important;
    border: none;
    margin-top: 20px;
    background: #161616;
	color: #fff;
	padding: 5px;
}

/*  footer's content----------------------------------------*/
.footerSection{
background: #080808f2;
}
.websiteDescription h1{font-size: 55px;color: #00b8ff;border-bottom: 1px solid;}
.websiteDescription h3 {
    font-size: 23px;
    color: #00b8ff;
    text-align: right;
}
.linkMyAccount {
    text-align: right;
    margin-top: 60px;
    line-height: 35px;
}
.linkMyAccount a {font-size: 17px;padding: 8px;}
.social {
    text-align: right;
    margin-bottom: 20px;
}
.social span {
    font-size: 25px;
    padding: 7px;
}
.websiteDescription {
    margin-top: 25px;
}
/*#body end----------------------------------------*/

/* title style------------------------------------------*/

.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 0.8;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 1s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 0s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 0.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}